@model ChatByWeb.Models.ConversationModel

<!-- Search input -->
<div class="p-2 border-bottom bg-light">
    <div class="input-group">
        <input id="searchInput" class="form-control" placeholder="Tìm tin nhắn..." />
        <button id="searchBtn" class="btn btn-outline-secondary" type="button">Tìm</button>
    </div>
</div>

<!-- Chat messages -->
<div id="chatBox" class="p-3 overflow-auto bg-white d-flex flex-column">
</div>

<!-- Input gửi tin nhắn -->
<div class="input-group mt-2">
    <input id="msgInput" class="form-control" placeholder="Nhập tin nhắn..." />
    <button id="sendBtn" class="btn btn-primary" type="button">Gửi</button>
</div>
