@model ChatByWeb.Models.ConversationModel

<!-- Chat messages -->
<div id="chatBox" class="flex-grow-1 p-3 overflow-auto bg-white d-flex flex-column">
</div>

<!-- Input gửi tin nhắn -->
<div class="input-group mt-2">
    <input id="msgInput" class="form-control" placeholder="Nhập tin nhắn..." />
    <button id="sendBtn" class="btn btn-primary" type="button">Gửi</button>
</div>
